.loadBtn {
    display: block;
    margin-inline: auto;
    padding: 10px 26px;
    height: 40px;
    color: #fff;
    background-color: #8b3154;
    box-shadow: 0 0 4px 2px rgb(133, 133, 212);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}